<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>

<h3>Récupération des utilisateurs :</h3>

#{list items:users, as:'user'}
    Name : ${user.firstName} <br />
    City : ${user.city.name} <br />

    Réseaux sociaux associés :
    #{list items:user.socials, as:'social'}
        ${social.name},
    #{/list}<br />

    Artistes préférés :
    #{list items:user.artists, as:'artist'}
        ${artist.name},
    #{/list}<br />


    <br />
#{/list}

</body>
</html>