#{extends 'main.html' /}
#{set title:'T\'écoutes quoi ?' /}

<div class="row">
  <div class="fourcol profile-left-col">
    <div class="profile-col-wrapper">
      <h1>${user.firstName} ${user.lastName}</h1>
      <div class="profile-pic">
        <img src="https://graph.facebook.com/${user.facebookId}/picture?type=large"/>
      </div>
      <div class="profile-info">    
        <ul>
          <li>
            <strong>E-mail :</strong> ${user.email}
          </li>
          <li>
            <strong>Date de naissance :</strong> ${user.birthDate.format('dd MMMM yyyy', 'fr')}
          </li>
          <li>
            <strong>Ville :</strong> ${user.city.name}
          </li>
          <li>
            <strong>Intéressé par :</strong> ${user.interestedBy?.capFirst()}
          </li>
        </ul> 
      </div>
      <div class="profile-bio">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="profile-button">
        <button id="profile-button-ask">T'écoutes quoi ?</button>
        <button id="profile-button-send">Écoutes ça !</button>
      </div>
    </div>
  </div>
  <div class="eightcol last profile-right-col">

    <h2>
      Mes artistes favoris
    </h2>
    <div>
      <ul class="artist-list">
      #{list items:user.artists, as:'artist'}
      #{if artist.imagePath != null}
      <li>
        <div class="artist-pic">
          <img src="${artist.imagePath}"/>
        </div>
        <span class="artist-name">
          ${artist.name}
        <span>
      </li>
      #{/if}
      #{/list}
      </ul>
    </div>

    <h2>
      Nous vous recommandons
    </h2>
  
    <div>
      <ul class="user-list">
        <li>
          <div class="album">
            <a href="" style="background: url(http://profile.ak.fbcdn.net/hprofile-ak-snc4/187716_547003677_866194_n.jpg)">
              &nbsp;
            </a>
            <span class="vinyl">
              <div></div>
            </span>
            <ul class="actions">
              <li class="play-pause"><a href=""></a></li>
              <li class="info"><a href=""></a></li>
            </ul>
            <div>
              <h5>Marion</h5>
              <small>Thriller</small>
            </div>
            <span class="gloss"></span>
          </div>
        </li>
        <li>
          <div class="album">
            <a href="">
              <img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/186985_500950303_3603806_n.jpg">
            </a>
            <span class="vinyl">
              <div></div>
            </span>
            <ul class="actions">
              <li class="play-pause"><a href=""></a></li>
              <li class="info"><a href=""></a></li>
            </ul>
            <div>
              <h5>Laura</h5>
              <small>Thriller</small>
            </div>
            <span class="gloss"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="dialog">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>