#{extends 'landing.html' /}
#{set title:'T\'écoutes quoi ?' /}

<div class="row landing">
  <div class="twelvecol last" style="height:680px">
    <ul>
      <li>
        <img src="@{'/public/images/landing_bg.jpg'}">
      </li>
    </ul>
      <div id="fbconnect-wrapper">
        <span class="fbconnect-header">
          Tout a commencé en s'échangeant quelques chansons ...
        </span>
        <div class="fb-connect-button">
          #{fbbutton scope:'user_likes,email,user_birthday,user_location,user_relationship_details' /}
        </div> 
    </div>
  </div>
</div>