<div class="row">
  <div class="fivecol">
    <div class="blockquote">
      Music Sounds Better With You
    </div>
  </div>
  <div class="sevencol last">
    <div id="followTwitter">
      <a href="http://twitter.com/tecoutesquoi" target="_blank">
        <img src="@{'/public/images/twitter.png'}" width="48px"/>
      </a> 
    </div> 
    <div id="likeFacebook">
      <fb:like-box href="http://www.facebook.com/pages/T%C3%A9coutes-Quoi-/119616071452415" width="292" show_faces="false" stream="false" header="false"></fb:like-box>
    </div>
  </div>
</div>