<div class="row">
  <div class="fivecol">
    <div class="blockquote">
      Music sounds …<br />
      &nbsp;&nbsp;&nbsp;… better with you
    </div>
  </div>
  <div class="twocol">
    <p style="height: 105px;margin-top: 20px;">
      <img src="@{'/public/images/logo.png'}">
    </p>
  </div>
  <div class="fivecol last">
    <div id="shareTwitter">
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="T'écoutes Quoi ?" data-lang="fr">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>
    <div id="likeFacebook">
      <script src="http://connect.facebook.net/fr_FR/all.js#xfbml=1"></script><fb:like href="http://www.tecoutesquoi.com/" layout="box_count" show_faces="false" width="60" font=""></fb:like>
    </div>
  </div>
</div>