<div class="row">
  <div class="fourcol">
    <img src="@{'/public/images/logo.png'}">
  </div>
  <div class="eightcol last">
    <div id="navigation">
      <div class="menu">
        <ul>
          <li>
            <a href="#">
              Accueil
            </a>
          </li>
          <li>
            <a href="#">
              Mon profil
            </a>
          </li>
          <li>
            <a href="#">
              Recherche
            </a>
          </li>
          <li>
            <a href="#">
              Mes messages <span style="color:#FFF;bottom:10px;font-size:15px;position:relative;background-color:red;padding:0 2px">3</span>
            </a>
          </li>

          <li>
            <a href="#">
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>